/* ----------------------------------------------------------
   BetaSeries class
   ------------------------------------------------------- */

.theme-top_color {
    background: #212226 !important;
}

.theme-greyLight {
    background: #171a1c;
}

.theme-greyMedium {
    color: #999 !important;
}

/* ----------------------------------------------------------
   Custom selectors
   ------------------------------------------------------- */

body {
    color: #d9d9d9 !important;
}

.episode-titre .btn-reset,
* a {
    color: #fdc228 !important;
}

.episode-titre .btn-reset:hover,
* a:hover {
    color: #fff !important;
}

*::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #1e1e1e !important;
    background: #1e1e1e !important;
}

*::-webkit-scrollbar-button {
    display: none !important;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
    border: 0 !important;
    box-shadow: none !important;
}

*::-webkit-scrollbar-thumb {
    min-height: 28px !important;
    background: #25262b !important;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
    background: #19191b !important;
}

.content {
    background: #2d2e33;
}

.sidebar {
    padding: 5px 0 0 0;
    border-right-color: #292a2e;
    background-color: #242529;
}

.sidebar h2,
.sidebar h3,
.sidebar h4 {
    border-bottom-color: #3b3e43;
    color: #63686e;
}

.sidebar a:hover {
    color: #222 !important;
    background-color: rgba(255,255,255,.8);
}

.sidebar a.active {
    color: #222 !important;
    background-color: #fdc228;
}

.maintitle,
h1 {
    border-color: #212226;
    color: #5b6266;
    background-color: transparent;
}

.maincontent h2,
.maincontent h3 {
    border-bottom-color: #212226;
    color: #999;
    background-color: #212226;
}

.episode,
.showItem {
    border-bottom-color: #26272b;
}

.episode:hover,
.showItem:hover {
    background-color: #3f4249;
}

.episode-date {
    color: #a0a0a0;
}

.episode-date[title~="lun."],
.calendar-day:nth-child(1) {
    color: #d6d6d6;
    background-color: #3a793b !important;
}

.episode-date[title~="mar."],
.calendar-day:nth-child(2) {
    color: #d6d6d6;
    background-color: #6b3737 !important;
}

.episode-date[title~="mer."],
.calendar-day:nth-child(3) {
    color: #d6d6d6;
    background-color: #376b53 !important;
}

.episode-date[title~="jeu."],
.calendar-day:nth-child(4) {
    color: #d6d6d6;
    background-color: #375d6b !important;
}

.episode-date[title~="ven."],
.calendar-day:nth-child(5) {
    color: #d6d6d6;
    background-color: #3f376b !important;
}

.episode-date[title~="sam."],
.calendar-day:nth-child(6) {
    color: #d6d6d6;
    background-color: #65376b !important;
}

.episode-date[title~="dim."],
.calendar-day:nth-child(7) {
    color: #d6d6d6;
    background-color: #6b6537 !important;
}

.episode-titre {
    border-left-color: #212226;
    color: #d4d4d4;
}

.episode-titre a.ep {
    color: #d4d4d4 !important;
}

.episode .box.srt,
.episode .box.vus {
    background: rgb(33,34,38);
    box-shadow: 0 1px 2px #1a1b1f;
}

.box.top,
.box.topright {
    border-top-color: transparent;
}

.episode-side .btn-dl,
.showItem .actions .record,
.actionButton,
.episode-side .btn-dl.dled {
    background-color: #1a1b1f;
}

.episode-side .btn-dl:hover,
.showItem .actions .record:hover,
.showItem .actions .fastforward:hover,
.showItem .actions .unarchive:hover,
.episode-side .btn-dl.dled:hover {
    background-color: rgba(26,27,31,.7);
}

.actionButton > a > img {
    -webkit-filter: invert(80%);
    filter: invert(80%);
}

.episode-side .markas {
    background: #212226;
}

.btn,
.button-action.button-action,
.maincontent p.button.blue a,
.content .button.blue a {
    border: 0.0625rem solid #2c2e33 !important;
    color: #d4d4d4 !important;
    background-color: #1d1e23 !important;
}

.btn:hover,
.button-action.button-action:hover,
.maincontent p.button.blue a:hover,
.content .button.blue a:hover {
    border: 0.0625rem solid #2c2e38 !important;
    color: #e7e7e7 !important;
    background-color: #282a2f !important;
}

.sidebar-listlinks {
    background-color: #242529;
}

.notification {
    border-bottom-color: #5d6267;
    color: #d9d9d9 !important;
}

.notification__datas span {
    color: #d9d9d9;
}

.notification__datas .btn-reset {
    background: transparent url("data:image/svg+xml;charset=UTF-11,<svg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><path d='M7 .333c-3.687 0-6.667 2.98-6.667 6.667s2.98 6.667 6.667 6.667 6.667-2.98 6.667-6.667-2.98-6.667-6.667-6.667zm3.333 9.06l-.94.94-2.393-2.393-2.393 2.393-.94-.94 2.393-2.393-2.393-2.393.94-.94 2.393 2.393 2.393-2.393.94.94-2.393 2.393 2.393 2.393z' fill-rule='nonzero' fill='%235d6267' /></svg>") center no-repeat;
}

.notification__datas .btn-reset:hover {
    background: transparent url("data:image/svg+xml;charset=UTF-11,<svg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><path d='M7 .333c-3.687 0-6.667 2.98-6.667 6.667s2.98 6.667 6.667 6.667 6.667-2.98 6.667-6.667-2.98-6.667-6.667-6.667zm3.333 9.06l-.94.94-2.393-2.393-2.393 2.393-.94-.94 2.393-2.393-2.393-2.393.94-.94 2.393 2.393 2.393-2.393.94.94-2.393 2.393 2.393 2.393z' fill-rule='nonzero' fill='%23848b92' /></svg>") center no-repeat;
}

.notification:hover {
    color: #fff;
    background-color: #3b8dd0;
}

#header_search_resultat .item:hover {
    background-color: #3b8dd0;
}

#header_search_resultat .item p a:hover,
#header_search_resultat .item:hover p a span {
    color: #fff;
}

.topbar-menu .submenu__inner li a {
    color: #222 !important;
}

.topbar-menu .submenu__inner li a:hover {
    color: #fff !important;
}

.notification a {
    color: #333 !important;
}

#facebox form {
    color: #d9d9d9;
    background: #2d2e33;
}

#contenu #right #overview #center p,
.field,
.field-icon {
    color: #d9d9d9;
    background-color: #212226;
}

#contenu #right .commentaire .texte {
    border-color: #1a1b1f;
}

.header-navigation a {
    color: #d9d9d9 !important;
    opacity: 1;
}

.badge__illu {
    background-color: #1a1b1f;
    box-shadow: 0 1px 2px #212226;
}

.showItem .infos,
.tagsList .tags {
    color: #d9d9d9;
}

.tagsList .tags span.add {
    background-color: #1a1b1f;
}

.btn.active {
    border-color: #fdc228 !important;
    color: #fdc228 !important;
    background-color: #1a1b1f !important;
}

.btn.active:hover {
    background-color: rgba(253,194,40,.1) !important;
}

path.notification-icon-bell {
    fill: #999ca7;
}

#notifications-button.highlight {
    fill: #fdc228;
}

a.topbar-infos__icon.topbar-messagerie > svg {
    fill: #999ca7;
}

.topbar-menu.donations > li:hover > a,
.topbar-menu>li.active>a,
.topbar-menu>li.hover>a {
    color: #1a1b1f !important;
}

.topbar-menu > li:hover > a {
    box-shadow: inset 0 -5px 0 0 #fdc228;
}

#top > div > div > div.topbar-infos > div.topbar-user.hidden-sm.hidden-xs > ul > li > a {
    color: #fdc228 !important;
    background-color: transparent !important;
}

.topbar-menu .submenu__inner,
#contenu #right #recom_search_resultat,
#header_search_resultat,
.notifications {
    background: #3b3e43;
}

.topbar-menu .submenu__inner li a {
    color: #fff !important;
}

.topbar-menu .submenu__inner li a:hover,
#header_search_resultat .item:hover {
    color: #1a1b1f !important;
    background: #fdc228;
}

.topbar-menu .submenu__inner li a.logout:hover {
    color: #fff !important;
    background: #CE3D3F;
}

#contenu #right #recom_search_resultat .item p a,
#header_search_resultat .item p a,
#header_search_resultat .item p a span {
    color: #fff !important;
}

#header_search_resultat .item p a:hover,
#header_search_resultat .item:hover p a span {
    color: #1a1b1f !important;
}

.episodes_list .item_season.green {
    border-bottom-color: #26272b;
    background-color: #2d2e33;
}

.episodes_list .item_season.green:hover,
.episodes_list .item_episode:hover,
.episodes_list .item_episode.seen:hover {
    background-color: #3f4249;
}

.episodes_list .item_episode {
    border-bottom-color: #26272b;
}

.episodes_list .item_season.red {
    border-bottom-color: #26272b;
    background-color: #242529;
}

.episodes_list .item_episode.seen {
   background-color: #1c1c1d;
}

.showItem .actions .delete:hover,
.showItem .actions .etags:hover,
.showItem .actions .fastforward:hover,
.showItem .actions .unarchive.unarchived,
.showItem .actions .unarchive:hover {
    background-color: rgba(26,27,31,.7);
}

.showItem .actions .fastforward.ffed {
    background-color: #efc227;
}

.showItem .actions .fastforward.ffed > a > img {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

.notification a {
    color: #fdc228 !important;
}

.notification:hover {
    background-color: #2d2e33;
}

.erreur {
    border-color: #aa4122;
    border-radius: 2px;
    background: #aa2226;
}

#centre .suivi.saison {
    background: #212226;
}

#centre .suivi.episode {
    border-top-color: #26272b;
}

.maincontent p.button.blue a,
.content .button.blue a,
.episode-side .btn-dl.dled {
    box-shadow: none !important;
}

#contenu #right .messages,
.timeline-item + .timeline-item {
    border-top-color: #212226;
}

.calendar-item .number {
    background-color: #212226;
}

.calendar-item {
    background-color: #191a1d;
    box-shadow: inset 0 0 10px #212226;
}

.calendar-item.has-noday {
    background-color: #26272b;
}

.calendar-item .btn-reset {
    color: #b5b5b5;
}

.calendar-item .btn-reset:nth-child(odd) {
    color: #d9d9d9;
    background-color: #27282d;
}

#contenu #right .messages .item.unread,
#contenu #right .messages .item {
    border-bottom-color: #2d2e33;
}

#contenu #right .messages .item.unread:nth-child(odd) {
    color: #d9d9d9;
    background-color: #212226;
}

#contenu #right .messages .item.unread:nth-child(even) {
    color: #d9d9d9;
    background-color: #242529;
}

#contenu #right .messages .item .last {
    border-left-color: #2d2e33;
}

#contenu #right .messages .item:hover {
    background-color: #3f4249;
}

.content .post .texte .message {
    color: #b4b6bd !important;
}

#contenu #right .messages .post .texte .message {
    color: #242529;
}

.notification.notification--standalone {
    color: #212226 !important;
    background: #fdc228;
}

.notification.notification--standalone a {
    color: #fff !important;
}

.notification.notification--standalone div span {
    color: #fff !important;
}

.homebox-content {
    background: #212226;
    box-shadow: inset 0 0 10px #212226;
}

.homebox-content p b,
.homebox-live li {
    background: #202125;
}

.homebox-form__list li:hover {
    background: #3f4249;
}

.content .forums .item:nth-child(odd) ,
.content table.forum .item:nth-child(odd) {
    border-color: #212226;
    color: #d9d9d9;
    background-color: #212226;
}

.content .forums .item:nth-child(even) ,
.content table.forum .item:nth-child(even) {
    border-color: #242529;
    color: #d9d9d9;
    background-color: #242529;
}

.content .forums .item .description,
.content .forums .item .last,
.content .forums .item .numbers {
    border-left-color: transparent;
}

.toppage__item {
    background-color: #212226;
}

.content table.forum .item.title {
    border-color: #212226;
    color: #999;
    background-color: #212226;
}

.content table.forum .item .description {
    border-left-color: transparent;
}

.content table.forum .item .numbers,
.content table.forum .item .last {
    border-left-color: #2d2e33;
}

.content .post .forum-post-container {
    border-color: #212226;
    border-radius: 4px;
    background: #1a1b1f;
}

.content .post .texte .signature {
    border-top-color: #2d2e33;
    text-shadow: none;
    color: #999;
    background: #1e1f25;
}

.content .post .avatar-container .avatar {
    border-radius: 8px;
}

#facebox form .fieldset input.submit,
#facebox form fieldset input.submit {
    border-color: #76a25e;
    background: #639248;
}

.tickets .item .status .inner-id,
.tickets .item .status .label.resolve {
    color: #b7b7b7;
    background: #3b3e43;
}

.tickets .item:hover {
    background: #3f4249;
}

.tickets .item {
    border-bottom-color: #26272b;
}

.tickets .item .title,
.tickets .item .resolution,
.tickets .item .update {
    border-left-color: #26272b;
}

.ticket ul {
    background: transparent;
}

.bbcode blockquote {
    border-left: 5px solid #373940;
    border-radius: 0;
    background: rgba(41,43,51,.5);
    box-shadow: none;
}

#contenu #right .commentaire.reponse {
    border-left-color: #212226;
}

.notification.notification--unread {
    border-left-color: #fdc228;
}

.undothings {
    background: #212226;
}

.undothings .title,
.undothings .content {
    background-color: transparent;
}

.undothings .title {
    border-right-color: #454852;
}

a.ss_toggle,
a.sss_toggle {
    padding-left: 26px;
    background-color: #212226;
}

a.hl.ss_toggle {
    background-color: #18181b;
}

.episodes_list .item_season.orange {
    border-bottom-color: #2d2e33;
    background-color: #202125;
}

#contenu #right #commentaires-post .texte .thumbs.action a,
#contenu #right .commentaire .texte .thumbs.action a {
    background: #1d1e23;
    box-shadow: 1px 1px transparent;
}

#contenu #right #commentaires-post .texte .thumbs.action,
#contenu #right .commentaire .texte .thumbs.action {
    background: transparent;
}

#contenu #right #commentaires-post .texte .thumbs.red,
#contenu #right .commentaire .texte .thumbs.red {
    color: #e02d2a;
}

#contenu #right .show_box {
    background: #242529;
}

#contenu #right .show_box .picture {
    border-color: #1d1e23;
}

#contenu #right .videos .thumbnail img,
.characters .character img,
.border {
    border-color: #1d1e23;
    box-shadow: 0 1px 2px #212226;
}

#contenu #right #stats_container #details #progressbar #percents {
    text-shadow: 1px 1px rgba(0,0,0,0.65);
}

#contenu #right #stats_container #details #progressbar {
    background: #212226;
    box-shadow: inset 0 1px 2px #242529;
}

#contenu #right .items_list p.none_item {
    color: #aaa;
    background: #212226;
}

.showItem .completion {
    background-color: #757575;
}

.showItem .completion.green {
    background-color: #799262;
}

.showItem .completion.red {
    background-color: #a96666;
}

.popup__inner {
    background: #1d1e23;
}

.popup__inner h3 {
    text-shadow: none;
    font-weight: 900;
    color: #d9d9d9;
}

.popup__inner p {
    color: #a2a2a2;
}

.popup-choice input {
    background: #78a95d;
}

.episode-side .vu {
    background: #212226;
    box-shadow: inset 0 1px 1px #212226;
}

.episode-side .vu .percent,
#contenu #right #stats_container #details #progressbar #bar,
#contenu #right #competition .match .player .percent {
    border-radius: 4px;
    background-color: #343746;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255,255,255,0.05) );
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.1);
    transition: 0.4s linear;
    transition-property: width,background-color;
}

#contenu #right #stats_container #details #episodes_restant,
#contenu #right #stats_container #details #a_passer,
#contenu #right #stats_container #details #temps_passe {
    color: #868686;
}

#contenu #right #member_friends .item,
#contenu #right #results .item {
    background: #242529;
    box-shadow: none;
}

#contenu #right #member_friends .item .infos,
#contenu #right #results .item .infos {
    background: #1d1e23;
    box-shadow: 0 1px 2px #3b3e43;
}

.header_search {
    border: 1px solid #3b3e43;
    border-radius: 1px;
    color: #b7b7b7;
    background: url(https://i.imgur.com/C6Ljnv5.png) calc(100% - 7px) center no-repeat #2d2e33;
}

.header_search::placeholder {
    color: #b7b7b7;
}

.wrapper-search .iconSearch svg {
    fill: #999ca7;
}

.irs-max,
.irs-min {
    border-radius: 2px;
    color: #e1e4e9;
    background: #2d2e33;
}

input[type=submit] {
    background: #72af50;
}

textarea:focus {
    outline: 0;
}

textarea {
    border: 1px solid #212226 !important;
    color: #d9d9d9 !important;
    background: #27282d !important;
    box-shadow: none !important;
}

.footer__list li a:hover {
    background: #2d2e33;
}

.footer-col p.more a:hover {
    border-color: #17181c;
    background: #2d2e33;
}

.footer-col p.more a {
    border-color: #1a1b1f;
}

.singlemovie-content p {
    border-radius: 4px;
    color: #999ca7;
    background: #242529;
}

.singlemovie-content p.singlemovie-tagline {
    color: #d9d9d9;
}

#contenu #right #competition .match .player.winner {
    background: transparent;
}

.maincontent p.loader img {
    background: transparent;
    -webkit-filter: invert(80%);
    filter: invert(80%);
}

body[contenteditable="true"][dir="ltr"] > blockquote {
    color: #222 !important;
}

.badge__illu.starred {
    background: #515460;
}

#contenu #right .messages .post .message-post-container {
    border-color: #313238;
    background: #212226;
}

div.notification.notification__push {
    background-color: #2e3035 !important;
}

.tagsList .tags span {
    color: #fff;
    background-color: #888;
}

#faceboxTagsList span.in {
    background-color: #798847;
}

.form-control.form-control--white {
    border-color: rgb(59,62,67);
    color: #b7b7b7;
    background-color: #252529;
}

.sceditor-container {
    border-color: #1a1b1f;
    background: #1e1f25;
}

body[contenteditable="true"][dir="ltr"] {
    border-color: #1a1b1f;
    background: #1e1f25;
}

body[contenteditable="true"][dir="ltr"] * {
    color: #b4b6bd !important;
}

div.sceditor-toolbar {
    border-bottom: 1px dashed #2d2e33;
    background: #1a1b1f;
}

div.sceditor-group {
    border-bottom-color: #2d2e33;
    background: #212226;
}

.sceditor-button-bold div,
.sceditor-button-italic div,
.sceditor-button-underline div,
.sceditor-button-strike div,
.sceditor-button-left div,
.sceditor-button-center div,
.sceditor-button-right div,
.sceditor-button-bulletlist div,
.sceditor-button-horizontalrule div {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.sceditor-button.active,
.sceditor-button:active,
.sceditor-button:hover {
    background: #fdc228;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.3), inset -1px 0 rgba(0,0,0,.3), inset 0 -1px 0 rgba(0,0,0,.2);
}

.sceditor-button-bold div:hover,
.sceditor-button-italic div:hover,
.sceditor-button-underline div:hover,
.sceditor-button-strike div:hover,
.sceditor-button-left div:hover,
.sceditor-button-center div:hover,
.sceditor-button-right div:hover,
.sceditor-button-bulletlist div:hover,
.sceditor-button-horizontalrule div:hover,
.sceditor-button.active div,
.sceditor-button:active div,
.sceditor-button:hover div {
    -webkit-filter: invert(0%);
    filter: invert(0%);
}

div.sceditor-dropdown {
    border-color: #2d2e33;
    background: #1d1e21;
}

.sceditor-dropdown a:hover {
    background: #212226;
}

.sceditor-color-option {
    border-color: #16171d;
}

.sceditor-color-option:hover {
    border-color: #fdc228;
}

.sceditor-more {
    border-top-color: #2d2e33;
}

div.sceditor-dropdown input,
div.sceditor-dropdown textarea {
    border-color: #41434e;
    border-top-color: #3b3e43;
    background: #2d2e33;
}

div.sceditor-dropdown .button {
    border-color: #474952;
    color: #b9b9b9;
    background: #3b3d44;
}

div.sceditor-dropdown .button:hover {
    background: #212226;
}

body[contenteditable="true"][dir="ltr"] > blockquote {
    border-color: #37383e;
    color: #b4b6bd !important;
    background-color: #2d2e33;
}

body[contenteditable="true"][dir="ltr"] > blockquote * {
    color: #b9b9b9 !important;
}

body[contenteditable="true"][dir="ltr"] > blockquote cite {
    border-color: #484950;
}

.btn.hactive {
    border-color: #ff3333 !important;
    color: #ff3333 !important;
}

.sidebar .btn-toggle-sidebar span {
    color: #8a8c92 !important;
}

.button-action.ss_toggle.hl,
.button-action.sss_toggle.hl {
    border-bottom: 2px solid #b38b24 !important;
    color: #1d1e23 !important;
    background-color: #fdc228 !important;
}

span.ep-special.tooltip-wrapper + button.btn-reset {
    color: #89a3e8 !important;
}

span.ep-special.tooltip-wrapper + button.btn-reset:hover {
    color: #fff !important;
}

span.ep-special.tooltip-wrapper.is-visible > span.tooltip-wrapper__inner > span.tooltip:after {
    border-top-color: #5388d3;
}

span.ep-special.tooltip-wrapper.is-visible > span.tooltip-wrapper__inner > span.tooltip:before {
    border-top-color: #85aee6;
}

span.ep-special.tooltip-wrapper.is-visible > span.tooltip-wrapper__inner > span.tooltip {
    border-color: #85aee6;
    border-radius: 6px;
    color: #000;
    background: #5388d3;
}

span.ep-special.tooltip-wrapper.is-visible > span.tooltip-wrapper__inner > span.tooltip a {
    color: #fff !important;
}

span.ep-special.tooltip-wrapper.is-visible > span.tooltip-wrapper__inner > span.tooltip a:hover {
    color: #fdc228 !important;
}

.episode-date[title="Pas de date "] {
    color: #9699a7;
    background-color: #212226 !important;
}

.tickets .item .status .label.investigate {
    color: white;
    background: #b16060;
}

.tickets .item .status .label.open {
    color: white;
    background: #5d9464;
}

.tickets .item .status .label.accept {
    color: white;
    background: #3c8bef;
}

.tickets .item .status .label.confirm {
    color: black;
    background: #ffffff;
}

[onclick^="ticketsSearch("] {
    color: #333 !important;
    background: #fdc228 !important;
    box-shadow: 0 1px 2px #1d1e23 !important;
}

.ticket ul {
    border-color: #3b3e43;
    background: #242529;
}
#right.maincontent > div.row > div.col-md-5 > div[style="background: #FAFAFA; border: 1px solid #C1E1FA; padding: 10px;"] {
    background-color: #999ca7 !important;
    border-color: #212226 !important;
}
#right.maincontent > div.row > div.col-md-5 > div[style="background: #FAFAFA; border: 1px solid #C1E1FA; padding: 10px;"] > h1 {
    background-color: #242529 !important;
    border-color: #2d2e33 !important;
    color: #d0d0d0 !important;
}
#right.maincontent > div.row > div.col-md-5 > div[style="background: #FAFAFA; border: 1px solid #C1E1FA; padding: 10px;"] > p {
    color: #3e3e3e !important;
}
.btn-amount.selected {
    color: #fff;
    background-color: #1b6de8;
}

.btn-amount {
    color: #2d2e33;
}

.mainBlock {
    background: #212226;
}

.greyBorder {
    border-color: #1a1b1d;
}

.slide .number {
    color: #d4d4d4;
}

.mainBlock p {
    color: #f7f7f7;
}

.btn-greyLight {
    color: black !important;
    background: #fdc228;
}

span.topbar-icon > svg > path.hover-white {
    fill: #ffd66c;
}

.notification p {
    color: #d9d9d9;
}

.notification:not(.notification__push) +.notification {
    border-color: #5d6267;
}

.notification.notification--unread {
    background: rgba(33,34,38,.5);
}

.notificationsWrapper:after {
    border-bottom-color: #3b3e43;
}

.header-navigation-wrapper,
.header-navigation {
    background: #1c1c1d;
}

.btn.btn--red {
    border-color: #c35454 !important;
    color: #c35454 !important;
}

.btn.btn--red:hover {
    background-color: rgba(195,84,84,.1) !important;
}

.btn.btn--yellow {
    border-color: #ada682 !important;
    color: #ada682 !important;
}

.btn.btn--yellow:hover {
    background-color: rgba(173,166,130,.1) !important;
}

.btn.btn--green {
    border-color: #70945c !important;
    color: #70945c !important;
}

.btn.btn--green:hover {
    background-color: rgba(112,148,92,.1) !important;
}

.btn.btn--green:hover,
.btn.btn--green.is-full,
.btn.btn--green.active {
    background-color: #a6e086 !important;
}

.btn.btn--yellow:hover,
.btn.btn--yellow.is-full,
.btn.btn--yellow.active {
    background-color: #f6e9aa !important;
}

.btn.hactive:hover,
.btn.btn--red:hover,
.btn.btn--red.is-full,
.btn.btn--red.active {
    background-color: #ff8888 !important;
}

.footer {
    background-color: #17171b;
}

.menu-icon--message svg {
    fill: #999ca7;
}

span.menu-icon > svg > path.hover-white {
    fill: rgb(255,213,104);
}

.notification__datas .btn-reset {
    background: transparent url("data:image/svg+xml;charset=UTF-11,<svg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><path d='M7 .333c-3.687 0-6.667 2.98-6.667 6.667s2.98 6.667 6.667 6.667 6.667-2.98 6.667-6.667-2.98-6.667-6.667-6.667zm3.333 9.06l-.94.94-2.393-2.393-2.393 2.393-.94-.94 2.393-2.393-2.393-2.393.94-.94 2.393 2.393 2.393-2.393.94.94-2.393 2.393 2.393 2.393z' fill-rule='nonzero' fill='%235d6267' /></svg>") center no-repeat;
}

.notification__datas .btn-reset:hover {
    background: transparent url("data:image/svg+xml;charset=UTF-11,<svg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><path d='M7 .333c-3.687 0-6.667 2.98-6.667 6.667s2.98 6.667 6.667 6.667 6.667-2.98 6.667-6.667-2.98-6.667-6.667-6.667zm3.333 9.06l-.94.94-2.393-2.393-2.393 2.393-.94-.94 2.393-2.393-2.393-2.393.94-.94 2.393 2.393 2.393-2.393.94.94-2.393 2.393 2.393 2.393z' fill-rule='nonzero' fill='%23848b92' /></svg>") center no-repeat;
}

.series-count, .unread-count {
    border: 1px solid;
    border-radius: 1px;
    font-weight: bolder;
    color: #fdc228;
    background: #1c1c1d;
}

a.menu-link:hover > span.hidden-xs > .series-count, a.menu-link:hover > span.hidden-xs > .unread-count {
    border-color: #fff;
    font-weight: bolder;
    color: #1c1c1d;
    background: #fff;
}

.notification.notification--push,
.notification.notification--delete-all {
    border-top-color: #3b3e43;
    background: #212226;
}

.postit {
    background: #1c1c1d;
}

.postit:before {
    border-color: #2d2e33 #2d2e33 #3b3e43 #3b3e43;
}

.episode .box.vus .content img {
    -webkit-filter: brightness(800%) invert(87%);
    filter: brightness(800%) invert(87%);
}

div.choices {
    border: 1px solid #25262b;
    background-color: #19191b;
}

div.choices li a {
    color: #fdc228 !important;
}

div.choices li:hover {
    background-color: #fdc228;
}

div.choices li:hover > a {
    color: #1a1b1f !important;
}

.js-notification-standalone-container.hidden-xs > .notification.notification--standalone.notification--unread {
    background: rgba(253, 194, 40, .8);
    border-color: rgba(253, 194, 40, 1);
}

.js-notification-standalone-container.hidden-xs > .notification.notification--standalone.notification--unread > .notification__datas > .btn-reset {
    background: transparent url("data:image/svg+xml;charset=UTF-11,<svg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><path d='M7 .333c-3.687 0-6.667 2.98-6.667 6.667s2.98 6.667 6.667 6.667 6.667-2.98 6.667-6.667-2.98-6.667-6.667-6.667zm3.333 9.06l-.94.94-2.393-2.393-2.393 2.393-.94-.94 2.393-2.393-2.393-2.393.94-.94 2.393 2.393 2.393-2.393.94.94-2.393 2.393 2.393 2.393z' fill-rule='nonzero' fill='%23d9d9d9' /></svg>") center no-repeat;
}

.js-notifications-container__inner a:hover {
    color: #fff !important;
}

#reactjs-header-search path {
    fill: #999ca7;
}

#reactjs-header-search > div > div > div:nth-child(2) > svg > g > path:nth-child(1) {
    fill: transparent !important;
}

.search-input input {
    color: #e0e0e0 !important;
}

.emptyblock {
    background-color: #1f2227;
}

.js-searchResult:focus {
    background-color: #171a1c;
}

input.form-control.form-control-transparent::-webkit-input-placeholder {
    color: #b5b8ba !important;
}

.btn-blue2,
.btn-blue2:hover {
    background: #2d2e33 !important;
}

.mainLink {
    color: #fdc228 !important;
}

.btn-greyBorder {
    color: #fff !important;
}
.searchOverlay {
    background: rgba(13, 21, 28, .7);
}
